/* This file is always included, even in the admin pages */

/* User edit / register form */
#edit-account .form-item-firstname {
	width:240px;
	float: left;
	margin-right: 20px;
}

#edit-account .form-item-lastname {
	width: 245px;
	float: left;
}

#edit-account .form-item-birthday {
	clear: both;
}

#edit-account .form-item-zipcode {
	width: 100px;
	float: left;
	clear: both;
	margin-right: 20px;
}

#edit-account .form-item-city {
	width:385px;
	float: left;
}

#edit-account .form-item-phone {
	clear: both;
}

