body {
	margin-top: 20px;
}

.wrapper {
	max-width: 1600px;
	margin: 0 auto;
}

.logo {
	margin-bottom: 20px;
}

h1#site-name {
	display: none;
}

h1 {
	font-size: 30px;
}

h1, h2, h3 {
	color: steelblue;
}

h3 {
	margin-top: 30px;
}

h4 {
	font-weight: bold;
	font-style: italic;
	font-size: 1.1em;
}

/*
.content a {
	font-style: italic;
}

.content a:after {
	content: " »";
}
*/

p.todo:before {
	color: red;
	font-weight: bold;
	content: 'TODO: ';
}

p.todo {
	color: red;
}

ul {
	padding-left: 20px;
}

li {
	padding-left: 0px;
}

h1.page-header {
	border-bottom: 1px solid #ccc;
	margin: 10px 0;
}

.breadcrumb {
	margin: 0;
	padding: 0;
}

aside h2 {
	font-size: 16px;
	margin: 0;
	margin-bottom: 10px;
}

/*
h1.page-header {
	margin-top: -20px;
}
*/

.makerspace-footer {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3c3c3c), to(#222222));
	background-image: -webkit-linear-gradient(top, #3c3c3c, 0%, #222222, 100%);
	background-image: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);
	background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);

/*	background-image: -moz-linear-gradient(center top , #3C3C3C 0pt, #222222 100%);*/

	border-radius: 4px;
	border: 1px solid #080808;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
	margin-top: 20px;
/*
	background-image: url(/themes/makerspace/images/bg_footer.jpg);
	background-position: center;
*/
	padding: 0 15px;
}

.makerspace-footer,
.makerspace-footer h2 {
	color: #aaa;
}

.makerspace-footer p,
.makerspace-footer a,
.makerspace-footer h2 {
	font-family: verdana;
	font-size:0.7em;
	line-height: 1.2em;
}

.makerspace-footer a:before {
	content: '» '
}

.makerspace-footer h2 {
	margin: 0;
	font-weight: bold;
}

.makerspace-footer .col-md-3 {
	padding: 15px;
}

.makerspace-footer .nav a {
	padding: 0;
}

.makerspace-footer ul {
	margin: 0;
}

.region-sidebar-second section {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	display: block;
	margin-bottom: -1px;
	padding: 10px 10px;
}

/* Downloaded from http://en.m.wikipedia.org/wiki/File:F_icon.svg */
.fb-icon {
	background: url("/themes/makerspace/images/icon_fb.svg") no-repeat scroll 0 0 transparent;
}

.view-blog h2 {
	border-bottom: 1px solid #ccc;
}

.view-blog .views-row {
	margin-bottom: 30px;
}

.view-blog .node-readmore {
	padding: 0;
}

.view-blog .node-readmore:after {
	content: ' »';
}

#block-views-block-blog-block-1 > h2 {
	display: none;
}

#block-views-block-blog-block-1 h2 a:hover {
	text-decoration: none;
}

/* Administration toolbar */
#toolbar-administration {
	z-index: 10000;
}

/* Puffar */
.puff {
	width: 25%;
	padding: 10px;
	height: 100%;
}

.puff .wrapper {
	border: 1px solid #ccc;
	background-color: #dadad0;
	height: 100%;
	padding: 10px;
	border-radius: 5px;
	position: relative;
}

.puff h2 {
	font-size: 15px;
	margin: 0;
	margin-bottom: 5px;
	color: #000;
}

.puff p {
	font-size: 11px;
	font-family: verdana;
}

.puff .link {
	position: absolute;
	font-size: 11px;
	font-style: italic;
	font-family: verdana;
	bottom: 5px;
	margin-bottom:0;
}




.loginbox {
	width: 300px;
}

.userbox {
	width: 450px;
}

.loginbox,
.userbox {
	float: right;
	height: 115px;
	margin-right: 0px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-top: -5px;
}

.userbox .icon {
	float: left;
	margin-right: 10px;
}

.userbox h2 {
	float: left;
	color: #555;
	margin: 0;
	font-size: 16px;
	margin-bottom: 5px;
}

.userbox .glyphicon {
	font-size: 32px;
}

.userbox ul.menu {
	float: left;
	margin:0;
}

.userbox li {
	float: left;
	padding: 0 0 0 5px !important;
	margin-left: 5px !important;
	border-left: 1px solid #888;
	line-height: 12px;
}

.userbox li.first {
	margin-left: 0 !important;
	padding-left: 0 !important;
	border:0;
}

.userbox a {
	font-family: verdana;
	font-size: 12px;
	vertical-align: middle;
}

.loginbox .pwdgroup {
	margin-top: 5px;
}

.loginbox p {
	font-weight: bold;
	font-size: 12px;
	margin: -3px 0 2px;
}

.userbox .labaccess_info {
	clear: both;
	padding-top: 10px;
}

.userbox .labaccess_info p.heading {
	font-size: 12px;
	margin:0;
}

.userbox .labaccess_info {
}

.userbox .labaccess_info .label {
	font-size: 10px;
}

.userbox .labaccess_info .glyphicon {
	font-size: 10px;
}

.loginbox a {
	float: left;
}

.loginbox button {
	float: right;
}
