public_html/meep/
public_html/sites/default/settings.php
public_html/sites/default/files/php/
public_html/sites/default/files/css/
public_html/sites/default/files/js/
public_html/sites/default/files/languages/
Drupal8/
Makerspace.sublime-project
Makerspace.sublime-workspace
Import/

# Klara's config
public_html/sites/default/files/config_kSuyhUttmR-cqh__OrXhQvbbXOv2v_HLHGP-Ie1nBQ95jbiUFDi0X0FTkuAb-olSw66vSQHtpQ
